<div class="container" role="main">
  <section>
    <div class="row">
      <div class="col-md-12 text-right">
      <button class="btn btn-primary" (click)="openModal('custom-modal-1')">Import Orders</button>
      <button class="btn" disabled="">NA1</button>
      <button class="btn" disabled="">NA2</button>
      </div>
    </div>
    <table class="table table-bordered table-hover table-responsive">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Created</th>
        <th scope="col">Revenue</th>
        <th scope="col">Sost $</th>
        <th scope="col">Amount of Product</th>
        <th scope="col">Fulfillment</th>
        <th scope="col">SKU</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let customerItem of customers">
        <td>{{customerItem.id}}</td>
        <td>{{customerItem.name}}</td>
        <td>{{customerItem.creationDate | date}}</td>
        <td>{{customerItem.revenue | currency}}</td>
        <td>{{customerItem.sost | currency}}</td>
        <td>{{customerItem.fulfillment}}</td>
        <td>{{customerItem.amountOfProduct}}</td>
        <td>{{customerItem.SKU}}</td>
      </tr>
      </tbody>
    </table>

  </section>
</div>

<app-modal id="custom-modal-1">
  <h1> Modal!</h1>
   <input type="text" [(ngModel)]="bodyText" />
  <button (click)="closeModal('custom-modal-1');">Close</button>
</app-modal>
